<head>
  <!--<script type="text/javascript" src="http://coffeescript.org/extras/coffee-script.js">
  </script>-->
  <style>
  .chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

  </style>
</head>

<body>
<center>
  <h1>Welcome to my FNaF Directory</h1>

  <p>The purpose of this project is to give you a bit of knowledge about the popular game series titled "Five Nights at Freddy's". Click the 'about' link below for some general info, or click 'character directory' to meet the spooky cast.</p>

  <p>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'About', about_path %> |
    <%= link_to 'Character Directory', fnafs_path %>
  </p>

</center>
  <hr>

  <!-- <p>Here's a nifty little graph that tells how many characters are in the first, second, and third games, respectively.</p> -->

  <div class="chart">
    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>

<script>

var data; // a global

d3.json("fnafs.json", function(error, json) {
  console.log(json);
  if (error) return console.warn(error);
  data = json;

  var firstGame = data.filter(function(character)
  {
    return character.first_game;
  }).length;
  console.log(firstGame);

  var secondGame = data.filter(function(character)
  {
    return character.second_game;
  }).length;
  console.log(secondGame);

  var thirdGame = data.filter(function(character)
  {
    return character.third_game;
  }).length;
  console.log(thirdGame);

var gameCounts = [firstGame, secondGame, thirdGame];

var x = d3.scale.linear()
    .domain([0, d3.max(gameCounts)])
    .range([0, 420]);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

d3.select(".chart")
  .selectAll("div")
    .data(gameCounts)
  .enter().append("div")
    .style("width", function(d) { return d * 10 + "px"; })
    .text(function(d) { return d; });});
</script>

  </div>

</body>